
  * {
    box-sizing: border-box;
  }
  
  body {
      font-family: 'Courier New', Courier, monospace;
      font-size: smaller; 
      background-image: url("../images/pupitre-background.png");
  }

  #BCName {
    width: 700px; 
  }

  #papersection {
    background-image: url("../images/paperwithbrian.png");
  }

  .header {
    margin-top: 90px; 
    margin-left: 110px;
  }

  .bio {
    margin-left: 110px;
    margin-top: 10px; 
    margin-right: 40px; 
    background-color: white; 
  }

  #rulerheader {
    height: 130px; 
    padding: 5px;
    margin-top: 20px;  
  }

  #aboutmepoloroid {
    height: 250px; 
    padding: 5px; 
  }

  #photographypoloroid {
    height: 250px; 
    padding: 5px; 
  }

  #portfoliopostit {
    height: 200px; 
    padding: 5px; 
  }

  #writingpencil {
    height: 300px; 
    padding: 5px; 
    margin-left: 20px; 
  }

  #contactpoloroid {
    height: 260px; 
    padding: 5px; 
  }

  #linkedincrayon {
    height: 250px; 
    padding: 5px; 
    margin-left: 25px; 
  }

  #githubspinner {
    height: 250px; 
    padding: 5px; 
  }

  #rulerheader:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  #aboutmepoloroid:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  #photographypoloroid:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  #portfoliopostit:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  #writingpencil:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite; 
  }

  #contactpoloroid:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite; 
  }

  #linkedincrayon:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite; 
  }

  #githubspinner:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite; 
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .banner {
    position: fixed;
    top: 10px; 
  }

  .content {
    background-image: url("../images/paperwithbrian.png");
    margin-top: 300px; 
  }

